.card {
    background-color: #bebebe;
    height: auto;
    width: 350px;
    margin: 10vh auto;
    border-radius: 25px;
    padding-bottom: 1px;
    box-shadow: 2px 2px 5px #4069E2;
}

.text1 {
    text-align: center;
    width: 100%;
    background-color: #E6EBEE;
    border-radius: 25px 25px 0 0;
    color: #393B45;
    padding: 30px 0;
    font-weight: 800;
    margin: 0;
}

.image_crop {
    display: block;
    position: relative;
    background-color: #E6EBEE;
    width: 150px;
    height: 150px;
    margin: 30px auto 0;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 1px 1px 5px #4069E2;
}

.avatar {
    display: inline;
    height: 230px;
    width: auto;
}

.bio {
    display: block;
    margin: 30px auto;
    width: 280px;
    height: auto;
}

.nama {
    color: #020202;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

.stats {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 280px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-weight: 500;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

.stat {
    font-size: 25px;
    margin: 0;
}

.label {
    margin: 0;
}

.buttons {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 280px;
}

.button {
    display: block;
    position: relative;
    padding: 10px 0;
    width: 130px;
    margin: 10px 0;
    border-radius: 25px;
    border: none;
    font-size: 20px;
    letter-spacing: 0.2px;
    font-weight: 500;
    background-color: #4069E2;
    color: #E6EBEE;
}

.button:focus {
    display: none;
}

.button:hover {
    transform: scale(1.03);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.msg{
    background-color: #029102;
}